<input type="text" id="devourBurger" name="dname" value="{{burger_name}}" size="40" readonly>

{{#unless devoured}}
    <button class="devour-it" data-id="{{id}}">
        Devour It!
    </button>
{{/unless}}