<div class="form-group">
    <input type="text" id="burgerName" name="bname" value="{{burger_name}}" readonly>

    {{#unless devoured}}
        <button class="devour-it" data-id="{{id}}">
            Devour It!
        </button>
    {{/unless}}
</div>