<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burger-block}}
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger-block}}
        {{/if}}
    {{/each}}
</ul>

<form class="create-form">
    <div class="form-group">
        <input type="text" id="burgerName" name="bname">
    </div>

    <button type="submit">Submit</button>

    <h4>Enter a burger name and click the "Submit" button.</h4>
</form>